<template>
  <div id="contact" class="contact">
    <section class="container has-text-centered" v-scroll-reveal.reset>
      <h2> Con<em>tact</em> </h2>
      <LineSeparator />
      <div class="columns">
        <div class="column" v-scroll-reveal.reset>
          <br>
          <section>
          <b-field>
              <b-input id="input-field" placeholder="Your Name" v-model="name"></b-input>
          </b-field>

          <b-field>
              <b-input id="input-field" placeholder="Your Email" v-model="email"></b-input>
          </b-field>

          <b-field>
              <b-input id="input-field" placeholder="Subject" v-model="subject"></b-input>
          </b-field>

          <b-field>
              <b-input id="input-field" placeholder="Message"
                maxlength="200" type="textarea"></b-input>
          </b-field>
          <button class="button is-dark">
            <icon class="icon-button" name="check" />
            Send
        </button>
        </section>
        </div>
        <div class="column" v-scroll-reveal.reset>
          <b>Inform<em>ation</em> </b>
            <p> Send us your questions, allow us to apply our experience to your benefit. </p>
            <div class="info-section">
              <icon class="icon-field" name="briefcase" />Talbott Enterprises
              <br>
              <icon class="icon-field" name="map-marker-alt" /> Location
              <br>
              <icon class="icon-field" name="phone-square" /> (123) 123-456
              <br>
              <br>
              <icon class="icon-field" name="envelope" /> example@mail.com
            </div>
            <div class="info-section">
              <br>
              <br>
              <a href="/" target="__blank">
                <icon class="icon-field" name="brands/facebook" scale="1.5" />
              </a>
              <a href="/" target="__blank">
                <icon class="icon-field" name="brands/twitter" scale="1.5" />
              </a>
              <a href="/" target="__blank">
                <icon class="icon-field" name="brands/instagram" scale="1.5" />
              </a>
              <a href="/" target="__blank">
                <icon class="icon-field" name="brands/linkedin" scale="1.5" />
              </a>
            </div>
        </div>
      </div>
    </section>
  </div>
</template>


<script>
import { LineSeparator } from '../shared/styledComponents';

export default {
  name: 'Contact',
  data() {
    return {
      name: '',
      email: '',
      subject: '',
    };
  },
  components: {
    LineSeparator,
  },
};
</script>

<style lang="scss" scoped>
.column {
  @media only screen and (max-width: 800px) {
    margin: 1.5rem;
  }
}
.contact {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info-section {
  color: #fafafa;
  text-align: left;
}

.icon-field {
  margin-right: 1rem;
}

.icon-button {
  margin-right: 0.5rem;
}

a {
  color: #ccc !important;
  &:hover {
    color: rgb(204, 57, 57) !important;
  }
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(238, 238, 238);
}

h3 {
  font-size: 2rem;
  margin-top: 0px;
  font-weight: 700;
  color: rgb(238, 238, 238);
}

p {
  color: #ccc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  word-wrap: break-word;
}

b {
  font-size: 25px;
  color: #fff;
}

em {
  font-weight: 700;
  font-style: inherit;
  color: rgb(204, 57, 57);
}
</style>
