<template>
  <div id="app" v-cloak>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style scss>
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
}

[v-cloak] {
  display: none;
}

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#input-field {
  background-color: rgba(255, 255, 255, 0.025) !important;
  border-radius: 5px;
  color: #fafafa;
}

.input:focus,
.taginput .taginput-container.is-focusable:focus,
.input.is-focused,
.taginput .is-focused.taginput-container.is-focusable,
.input:active,
.taginput .taginput-container.is-focusable:active,
.input.is-active,
.taginput .is-active.taginput-container.is-focusable,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active {
  border-color: #ccc !important;
  font-weight: bolder;
  -webkit-box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25) !important;
}

.vue-typer .custom.char.typed {
  color: #ccc;
}

.vue-typer .custom.char.selected {
  color: #1a1a1a;
  background-color: #ccc;
}

.vue-typer .custom.caret {
  width: 5px;
  background-color: #ccc;
}
/* Scrollbar settings :^) */
::-webkit-scrollbar-track {
  background-color: #1a1a1a;
  border-left: 1px solid #999;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background-color: #242331;
  height: 65px;
  border: 1px solid #999;
}

::selection {
  background: #ccc;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc !important;
  opacity: 1 !important;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc !important;
  opacity: 1 !important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc !important;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #ccc !important;
}
</style>
